{% extends 'temp/staff.html' %}
{% block base %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>staff profile</title>
</head>
<body>
<center><table border="2" align="center">
		<h1>STAFF PROFILE</h1>
		<tr>
			<th>Full Name</th>
			<th>Email</th>
			<th>DOB</th>
			<th>Department</th>

		</tr>
        {% for i in objval %}
		<tr>
			<td>{{ i.full_name }}</td>
			<td>{{ i.email }}</td>
			<td>{{ i.dob }}</td>
			<td>{{ i.department }}</td>


		</tr>
        {% endfor %}
	</table>
    </center>


</body>
</html>
{% endblock %}