{% extends 'temp/admin.html' %}
{% block base %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mange staff</title>
</head>
<body>
<center><table border="2">
		<h1> MANAGE STAFF </h1>
		<tr>
			<th>Full Name</th>
			<th>Email</th>
			<th>DOB</th>
			<th>Department</th>
{#			<th>Status</th>#}

		</tr>
        {% for i in objval %}
		<tr>
			<td>{{ i.full_name }}</td>
			<td>{{ i.email }}</td>
			<td>{{ i.dob }}</td>
			<td>{{ i.department }}</td>
{#			<td>{{ i.status }}</td>#}
        <td><a href="{% url 'up' idd=i.staff_id %}">Update</a></td>
        <td><a href="{% url 'dt' idd=i.staff_id %}">Delete</a></td>

		</tr>
        {% endfor %}
</table>
    </center>
</body>
</html>
{% endblock %}