{% extends 'temp/index.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>REGISTRATION</title>
</head>
<body>
	<center><h1> STUDENT REGISTRATION </h1></center>
	<form method="post">
        {% csrf_token %}
		<table align="center">
			<tr>
				<th>Full Name:</th>
				<td><input type="text" name="fname"></td>
			</tr>
			<tr>
				<th>Admission.no:</th>
				<td><input type="text" name="adm"></td>
			</tr>
			<tr>
				<th>Email:</th>
				<td><input type="mail" name="Email"></td>
			</tr>
			<tr>
				<th>DOB:</th>
				<td><input type="Date" name="DOB"></td>
			</tr>
			<tr>
				<th>Department:</th>
				<td><input type="text" name="Dpt"></td>
			</tr>
			<tr>
				<th>User name:</th>
				<td><input type="text" name="uname"></td>
			</tr>
			<tr>
				<th>Password:</th>
				<td><input type="Password" name="paswd"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="submit" value="VERIFY"></td>
			</tr>
        </table>
    </form>
{% endblock %}
</body>
</html>