{% extends 'temp/student.html' %}
{% block base %}

<!DOCTYPE html>
<html>
<head>
	<title>COMPLAINTS</title>
</head>
<body>
<center><h1>COMPLAINTS</h1></center>
	<form method="post">
        {% csrf_token %}
		<table align="center">
			<tr>
				<th>Complaint</th>
				<td><textarea rows="=10" cols="15" name="cmpl"></textarea>
			</tr>
			<tr>
				<th>Date</th>
				<td><input type="Date" name="dt"></td>
			</tr>
			<tr>
				<th>Time</th>
				<td><input type="Time" name="tm"></td>
			</tr>

			<tr>
				<td></td>
				<td><center><input type="submit" name="submit" value="ADD"></center></td>
			</tr>
        </table>
    </form>
</body>
</html>
{% endblock %}